:root {
    --colorMain: #c0c0c0;
    --brShadow: -6px 6px 15px rgba(0,0,0,0.5);
    --tlShadow: 6px -6px 15px rgba(255,255,255,0.8);
  }
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    display: grid;
    grid-template-rows: 56px 360px auto;
    height: 100vh;
    width: 100%;
    max-width:425px ;
    margin: auto;
    background: linear-gradient(145deg, #f0f0f0, rgb(137, 218, 173));

}
/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 56px;
   
}
h2 {
    font-weight: bold;
    font-size: 1.6rem ;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -1px -1px 4px rgba(117, 255, 189, 0.4);
}
.header-buttoms{
    display: flex;
}
.ecualizer{
    width: 30px;
    height: 30px;
    background-image: url(/styles/assets/ecualizer.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.user{
    margin-left: 1.2rem;
    width: 30px;
    height: 30px;
    background-image: url(/styles/assets/user.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.more{
    margin-left: 1.2rem;
    width: 30px;
    height: 30px;
    background-image: url(/styles/assets/more.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* CARDS */
.cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #008080;
}
.sub-card img{
    width:70vw;
    min-width: 180px;
    max-width: 300px;
}
.cards p{
    font-size: 1.6rem;
    line-height: 20px;
    color: rgb(24, 31, 28);
}
.cards .sub-title{
    font-size: 1.2rem;
    line-height: 14.5px;
    color:#084646;
}
/* PROGRESS-BAR */
.progress-bar{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(1, 1fr);
    align-items:center;

}
.status-bar{
    display: flex;
    margin: 0 auto;
    background-image: url(/styles/assets/status-bar.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 280px;
    height: 5px;
    justify-content: space-between;
    margin: 1rem auto;
}

.number{
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: lighter;
}
/* BUTTONS */
.buttons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
   
}

.share{
    margin-left: 1rem;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/styles/assets/share.svg);
}
.before{
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/styles/assets/before.svg);
}
.play{
    
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/styles/assets/play.svg);
}
.next{
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/styles/assets/next.svg);
}
.like{
    margin-right: 1rem;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-image: url(/styles/assets/like.svg);
}